{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">

{% endblock customcss %}

{% block content %}

<body class="text-center">
  <!-- {% comment %} <main class="form-signin w-100 m-auto"> {% endcomment %} -->
  {{context}}
  <form class="form-signin" method="POST">{% csrf_token %}
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="110" fill="currentColor" class="bi bi-book-half" viewBox="0 5 16 16">
      <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg>
    <span class="font_test font_size">Blearn</span>
    <h1 class="h3 mb-3 fw-normal font_test">Please login</h1>
    <div class="form-floating font_small">
        <input type="text" class="form-control" id="floatingInput" placeholder="username" name='username'>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating  font_small">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary font_test" type="submit">Login</button>
    <a href="{% url 'signup' %}"class="font_test" role="button" aria-pressed="true">～new acount～</a>
    {{ error }}
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static "images/btn_google_signin_light_normal_web@2x.png"%}" width="170" height="45"></a>

  </form>


</body>
{% endblock content %}